@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.airplane {
  animation: rightToLeft 3s infinite;
}
.scroll-background {
  /* animation: scroll-left 4s linear infinite; */
}

@keyframes spin-fast {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-fast {
  animation: spin-fast 0.5s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}